:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vh;
}

body {
    background-color: rgb(29, 29, 29);
    display: grid;
    grid-template-areas: "navbar main";
    grid-template-columns: 1fr 10fr;
    margin: 0%;
    padding: 0%;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 132, 0 , .50);
}

nav {
    grid-area: navbar;
    position: fixed;
    top: 0%;
    left: 0%;

}

.sidebar {
    background-color: rgba(255, 132, 0 , .75);
    height: 100vh;
    width: min(10vw , 100px);
}

.icons{
    padding-left: min(1vw ,10px );
    width: min(8vw , 80px);
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.icons:hover{
    transform: rotate(360deg);
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.t-list{
    padding-left: 0em;
    list-style-type: none;
}

main{
    color: antiquewhite;
    font-size: .5rem;
    margin-left: min(10vw , 100px);
    padding-top: 10px;
    padding-left: 10px;
}

.card-list{
    display: flex;
    padding-top: 20vh;
    padding-left: 1rem;
}

.card{
    display: flex;
    padding: .4rem;
    position: relative;
    flex-direction: column;
    height: 60vh;
    width: 3vw;
    min-width: 250px;
    max-width: 700px;

    border-radius: 16px;
    background: chocolate;
    box-shadow: -1rem 0 3rem #000;
}
